In [1]:
import pandas as pd

In [39]:
q_df = pd.DataFrame([['male', 'teacher'], 
['male', 'engineer'],
['female', None],
['female', 'engineer']], columns = ['Sex','Profession'])
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female       None
3  female   engineer

In [44]:
#缺失值填入字串'others'
q_df.fillna('others', inplace = True)
q_df

      Sex Profession
0    male    teacher
1    male   engineer
2  female     others
3  female   engineer

In [50]:
#更進一步將字串做編碼。 此時用什麼方式做編碼比較適合?為什麼?
sex_code = pd.get_dummies(q_df['Sex'], prefix= q_df.columns[0])
profession_code = pd.get_dummies(q_df['Profession'], prefix= q_df.columns[1])

In [51]:
pd.concat([q_df, sex_code, profession_code], axis = 1)

,Sex,Profession,Sex_female,Sex_male,Profession_engineer,Profession_others,Profession_teacher
0,male,teacher,0,1,0,0,1
1,male,engineer,0,1,1,0,0
2,female,others,1,0,0,1,0
3,female,engineer,1,0,1,0,0