# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [1]:
# 記得先 Import 正確的套件
import numpy as np
import pandas as pd

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [2]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high      9
1  banana  medium      2
2  orange     low     13
3   apple    high      4
4  banana  medium     11
5  orange     low     11
6   apple    high      0
7  banana  medium     10
8  orange     low     11
    fruit weight  price
0   apple   high      1
1  orange    low     13
2    pine   high      0
3   apple    low      7
4  orange   high     10
5    pine    low      3

In [13]:
# - 依照 fruit 欄位做合併
pd.merge(df1, df2, on = 'fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high        9     high        1
1    apple     high        9      low        7
2    apple     high        4     high        1
3    apple     high        4      low        7
4    apple     high        0     high        1
5    apple     high        0      low        7
6   orange      low       13      low       13
7   orange      low       13     high       10
8   orange      low       11      low       13
9   orange      low       11     high       10
10  orange      low       11      low       13
11  orange      low       11     high       10

In [9]:
# - 依照 index 索引做合併
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

### 2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [23]:
print(
    '''
    Only frutis which existed both in df1 and df2 would last in the merged df. The others would be dropped.
    '''
)

    Only frutis which existed both in df1 and df2 would last in the merged df. The others would be dropped.

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

In [25]:
df1.join(df2, lsuffix='_df1', rsuffix='_df2')

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          9     apple       high        1.0
1    banana     medium          2    orange        low       13.0
2    orange        low         13      pine       high        0.0
3     apple       high          4     apple        low        7.0
4    banana     medium         11    orange       high       10.0
5    orange        low         11      pine        low        3.0
6     apple       high          0       NaN        NaN        NaN
7    banana     medium         10       NaN        NaN        NaN
8    orange        low         11       NaN        NaN        NaN